@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playwrite+DK+Loopet:wght@100..400&family=Space+Grotesk:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+DK+Loopet:wght@100..400&family=Space+Grotesk:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

main{
  width: 100vw;
  height: 100svh;
  background-color: beige;
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment:scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main::after{
  position: absolute;
  content: '';
  inset: 0;
  background-color: rgba(0, 0, 0, 0.719);
}

.intro{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 2;
  color: white;
}
.loveWrapper{
  padding: 20px 100px;
  width: 100%;
  object-fit: cover;
  display: grid;
  place-content: center;

}
.loveWrapper img{
  width: 100%;
  height: 100%;
}
.intro h1{
  font-size: 50px;
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
}

.date{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
  font-size: 20px;
  color: var(--btn_color);
}

@media only screen and (max-width : 600px){
  .intro h1{
    font-size: 35px;
  }
}