@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.storyContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.storyContainer .storyHeading {
    text-align: center;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.divContain {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.divContain::after{
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    bottom: 0;
     box-shadow: 0px 0px 0px 1px rgba(177, 177, 177, 0.5);
}

.divContain::before{
    position: absolute;
    top: 50%;
    left: 50%;
    content: 'Love You';
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    background-color: var(--btn_color);
    transform: translate(-50%,-50%);
    z-index: 3;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 16px;
}

.divContain.reverse {
    flex-direction: row-reverse;
}
.divContain.divContain.reverse .storyDetails, .divContain.divContain.reverse .storyDetails h1{
    text-align: left;
}
.storyDetails, .storyImage {
    height: 300px;
    margin: 1px 60px;
}

.storyDetails {
    width: 500px;
    justify-content: center;
    text-align: right;
    padding: 50px;
}
.storyDetails .storyDate{
    color: var(--btn_color);
}
.storyDetail{
    margin-top: 10px;
    color: rgb(71, 71, 71);
    font-size: 17px;
}
.storyDetails h1 {
    text-align: right;
}

.storyImage {
    width: 500px;
    padding: 30px 40px;
    overflow: hidden;
}

.storyImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;

}
.storyTopic{
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}